
    <h1>Welcome to the Rock, Paper, Scissors game!!</h1>
    <br>
    <H2>Please enter rock, paper or scissors for player 1 and player 2 in the the path http://localhost:4567/rps/player1/player2 and press enter!</H2>
